bot_confirmacao_v2.json
{
  "name": "bot_confirmacao_v2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 18 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [5200, 9500],
      "id": "sched-15h-0001-0000-0000-000000000001",
      "name": "Scheduler 15h (Confirmação Dia Anterior)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hmjrgrrosyinblpzntkw.supabase.co/functions/v1/get-pending-confirmations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhtanJncnJvc3lpbmJscHpudGt3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk5MzYzOTAsImV4cCI6MjA3NTUxMjM5MH0.VukfnENSS4dgv5X3_n5Qz9jFW0iZgp66AN9jkME3TvQ"
            },
            {
              "name": "x-api-key",
              "value": "a3f8c2d1e9b4071f6a2c58d3e7f1b9204c6a8d2e5f3b1c7a9d4e6f2b8c1a3d5"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"mode\": \"tomorrow\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [5450, 9500],
      "id": "sched-15h-0001-0000-0000-000000000002",
      "name": "Buscar Consultas Amanhã"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst confirmationMessage = data.confirmationMessage || '';\nreturn (data.appointments_tomorrow || []).map(appt => ({\n  json: { ...appt, confirmationMessage }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5700, 9500],
      "id": "sched-15h-0001-0000-0000-000000000003",
      "name": "Preparar Items 15h",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const item = $json;\nconst patient = item.patients;\nif (!patient?.phone) return [];\n\nconst datePart = item.date.split('T')[0];\nconst dateStr = new Date(datePart + 'T12:00:00').toLocaleDateString('pt-BR');\nconst timeStr = item.time.slice(0, 5);\n\nconst msg = (item.confirmationMessage || '')\n  .replace(/\\{\\{nome_paciente\\}\\}/g, patient.full_name)\n  .replace(/\\{\\{data\\}\\}/g, dateStr)\n  .replace(/\\{\\{hora\\}\\}/g, timeStr);\n\nreturn [{ json: {\n  jsonBody: { number: patient.phone, text: msg },\n  appointment_id: item.id\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5950, 9500],
      "id": "sched-15h-0001-0000-0000-000000000004",
      "name": "Montar Mensagem Confirmação"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.renatalyra.com.br/message/sendText/renata-lyra-oficial",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "B59826E5584E-40E3-8D26-A10CCB6E8696"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.jsonBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [6200, 9500],
      "id": "sched-15h-0001-0000-0000-000000000005",
      "name": "Enviar WhatsApp Confirmação"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hmjrgrrosyinblpzntkw.supabase.co/functions/v1/mark-appointment-notified",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhtanJncnJvc3lpbmJscHpudGt3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk5MzYzOTAsImV4cCI6MjA3NTUxMjM5MH0.VukfnENSS4dgv5X3_n5Qz9jFW0iZgp66AN9jkME3TvQ"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "a3f8c2d1e9b4071f6a2c58d3e7f1b9204c6a8d2e5f3b1c7a9d4e6f2b8c1a3d5"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"id\": \"{{ $('Montar Mensagem Confirmação').item.json.appointment_id }}\",\n  \"type\": \"24h\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [6450, 9500],
      "id": "sched-15h-0001-0000-0000-000000000006",
      "name": "Marcar Notificado"
    },

    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 11 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [5200, 9750],
      "id": "sched-08h-0002-0000-0000-000000000001",
      "name": "Scheduler 8h (Alerta Não Confirmados)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hmjrgrrosyinblpzntkw.supabase.co/functions/v1/get-pending-confirmations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhtanJncnJvc3lpbmJscHpudGt3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk5MzYzOTAsImV4cCI6MjA3NTUxMjM5MH0.VukfnENSS4dgv5X3_n5Qz9jFW0iZgp66AN9jkME3TvQ"
            },
            {
              "name": "x-api-key",
              "value": "a3f8c2d1e9b4071f6a2c58d3e7f1b9204c6a8d2e5f3b1c7a9d4e6f2b8c1a3d5"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"mode\": \"today\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [5450, 9750],
      "id": "sched-08h-0002-0000-0000-000000000002",
      "name": "Buscar Consultas Hoje"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst reminderMessage = data.reminderMessage || '';\nreturn (data.appointments_today || []).map(appt => ({\n  json: { ...appt, reminderMessage }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5700, 9750],
      "id": "sched-08h-0002-0000-0000-000000000003",
      "name": "Preparar Items 8h",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const item = $json;\nconst patient = item.patients;\nif (!patient?.phone) return [];\n\nconst timeStr = item.time.slice(0, 5);\nconst datePart = item.date.split('T')[0];\nconst dateStr = new Date(datePart + 'T12:00:00').toLocaleDateString('pt-BR');\n\nconst msg = (item.reminderMessage || '')\n  .replace(/\\{\\{nome_paciente\\}\\}/g, patient.full_name)\n  .replace(/\\{\\{data\\}\\}/g, dateStr)\n  .replace(/\\{\\{hora\\}\\}/g, timeStr);\n\nreturn [{ json: {\n  jsonBody: { number: patient.phone, text: msg },\n  appointment_id: item.id,\n  patient_name: patient.full_name,\n  time: timeStr,\n  professional_id: item.professional_id || null\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5950, 9750],
      "id": "sched-08h-0002-0000-0000-000000000005",
      "name": "Montar Mensagem 8h"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.renatalyra.com.br/message/sendText/renata-lyra-oficial",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "B59826E5584E-40E3-8D26-A10CCB6E8696"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.jsonBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [6200, 9750],
      "id": "sched-08h-0002-0000-0000-000000000006",
      "name": "Enviar WhatsApp 8h"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hmjrgrrosyinblpzntkw.supabase.co/functions/v1/create-notification",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "a3f8c2d1e9b4071f6a2c58d3e7f1b9204c6a8d2e5f3b1c7a9d4e6f2b8c1a3d5"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"agendamento\",\n  \"title\": \"⚠️ Consulta sem confirmação hoje\",\n  \"message\": \"{{ $('Montar Mensagem 8h').item.json.patient_name || 'Paciente' }} não confirmou a consulta de hoje às {{ $('Montar Mensagem 8h').item.json.time }}. Segundo lembrete enviado.\",\n  \"professional_id\": \"{{ $('Montar Mensagem 8h').item.json.professional_id || null }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [6450, 9750],
      "id": "sched-08h-0002-0000-0000-000000000004",
      "name": "Criar Alerta Não Confirmado"
    },

    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-resposta",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [5296, 10400],
      "id": "199379c9-77a0-4bbf-a9a3-c615bea79e77",
      "name": "Webhook Resposta",
      "webhookId": "9bd352d7-32a4-4af6-86fe-5565d1260ad1"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\nconst body = input.body || input;\n\nconst fromMe = body.data?.key?.fromMe ?? false;\nif (fromMe) return [];\n\nconst senderPn = body.data?.key?.senderPn || '';\nlet phone = senderPn.replace('@s.whatsapp.net', '').replace(/\\D/g, '');\n\nif (!phone) {\n  const remoteJid = body.data?.key?.remoteJid || '';\n  phone = remoteJid.replace('@s.whatsapp.net', '').replace('@lid', '').replace(/\\D/g, '');\n}\n\nif (phone.length === 12 && phone.startsWith('55')) {\n  phone = phone.slice(0, 4) + '9' + phone.slice(4);\n}\n\nconst rawText =\n  body.data?.message?.conversation ||\n  body.data?.message?.extendedTextMessage?.text ||\n  body.message?.conversation ||\n  body.text ||\n  '';\n\nconst text = rawText\n  .toLowerCase()\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '')\n  .trim();\n\nlet action = 'none';\n\nif (/^(sim|s|yes|ok|pode|confirmo|confirmado|confirmar|claro|com certeza|topo|1)$/.test(text)) {\n  action = 'confirm';\n} else if (/^(nao|n|no|nope|cancela|cancelar|cancelado|2)$/.test(text)) {\n  action = 'cancel';\n} else if (/^(remarcar|remarco|reagendar|reagendo|mudar|alterar|trocar|3)$/.test(text) || /remarc|reagend/.test(text)) {\n  action = 'remarcar';\n} else if (/^(agendar|agendo|quero agendar|quero marcar|marcar consulta|4)$/.test(text) || /quero agendar|quero marcar/.test(text)) {\n  action = 'agendar';\n}\n\nreturn [{ json: { action, phone, rawText } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5536, 10400],
      "id": "df3a16ba-27d8-4d72-92d4-eb3f22d38b4e",
      "name": "Interpretar Resposta"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2},
                "conditions": [{"id": "sw-confirm", "leftValue": "={{ $json.action }}", "rightValue": "confirm", "operator": {"type": "string", "operation": "equals"}}],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Confirmar"
            },
            {
              "conditions": {
                "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2},
                "conditions": [{"id": "sw-cancel", "leftValue": "={{ $json.action }}", "rightValue": "cancel", "operator": {"type": "string", "operation": "equals"}}],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cancelar"
            },
            {
              "conditions": {
                "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2},
                "conditions": [{"id": "sw-remarcar", "leftValue": "={{ $json.action }}", "rightValue": "remarcar", "operator": {"type": "string", "operation": "equals"}}],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Remarcar"
            },
            {
              "conditions": {
                "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2},
                "conditions": [{"id": "sw-agendar", "leftValue": "={{ $json.action }}", "rightValue": "agendar", "operator": {"type": "string", "operation": "equals"}}],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Agendar"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [5776, 10400],
      "id": "fdf43ec1-8507-4b5b-b738-abc144c28edd",
      "name": "Roteador de Acao"
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://hmjrgrrosyinblpzntkw.supabase.co/functions/v1/process-whatsapp-response",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhtanJncnJvc3lpbmJscHpudGt3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk5MzYzOTAsImV4cCI6MjA3NTUxMjM5MH0.VukfnENSS4dgv5X3_n5Qz9jFW0iZgp66AN9jkME3TvQ"},
            {"name": "Content-Type", "value": "application/json"},
            {"name": "x-api-key", "value": "a3f8c2d1e9b4071f6a2c58d3e7f1b9204c6a8d2e5f3b1c7a9d4e6f2b8c1a3d5"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"buttonId\": \"confirmar\",\n  \"phone\": \"{{ $('Interpretar Resposta').item.json.phone }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [6016, 10240],
      "id": "074d6727-7dc4-4e98-a3b2-ae017f3570e6",
      "name": "Confirmar no Sistema"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hmjrgrrosyinblpzntkw.supabase.co/functions/v1/create-notification",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhtanJncnJvc3lpbmJscHpudGt3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk5MzYzOTAsImV4cCI6MjA3NTUxMjM5MH0.VukfnENSS4dgv5X3_n5Qz9jFW0iZgp66AN9jkME3TvQ"},
            {"name": "Content-Type", "value": "application/json"},
            {"name": "x-api-key", "value": "a3f8c2d1e9b4071f6a2c58d3e7f1b9204c6a8d2e5f3b1c7a9d4e6f2b8c1a3d5"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"agendamento\",\n  \"title\": \"✅ Consulta confirmada pelo paciente\",\n  \"message\": \"{{ $('Confirmar no Sistema').item.json.patient?.full_name || 'Paciente' }} confirmou a consulta via WhatsApp.\",\n  \"professional_id\": \"{{ $('Confirmar no Sistema').item.json.professional_id || null }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [6256, 10240],
      "id": "02b1b5f8-db1e-47a1-a57b-4895819a5729",
      "name": "Notificacao Confirmacao"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "msg-confirmed", "name": "message", "value": "Sua consulta foi confirmada! ✅\n\nEstamos te esperando no dia e horário agendados. Até logo! 😊", "type": "string"}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [6496, 10240],
      "id": "81b05ceb-d182-4f54-9755-b4f920f14af3",
      "name": "Mensagem Confirmado"
    },
    {
      "parameters": {
        "jsCode": "const phone = $('Interpretar Resposta').item.json.phone;\nconst message = $input.first().json.message;\nreturn [{ json: { jsonBody: { number: phone, text: message } } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [6736, 10240],
      "id": "c51fe032-c77f-4167-a043-d3ff93cd3409",
      "name": "Montar Envio Confirmacao"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.renatalyra.com.br/message/sendText/renata-lyra-oficial",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{"name": "apikey", "value": "B59826E5584E-40E3-8D26-A10CCB6E8696"}]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.jsonBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [6976, 10240],
      "id": "99824f55-9fa5-4592-8f60-94794809a6b4",
      "name": "Enviar WhatsApp Confirmado"
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://hmjrgrrosyinblpzntkw.supabase.co/functions/v1/process-whatsapp-response",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhtanJncnJvc3lpbmJscHpudGt3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk5MzYzOTAsImV4cCI6MjA3NTUxMjM5MH0.VukfnENSS4dgv5X3_n5Qz9jFW0iZgp66AN9jkME3TvQ"},
            {"name": "Content-Type", "value": "application/json"},
            {"name": "x-api-key", "value": "a3f8c2d1e9b4071f6a2c58d3e7f1b9204c6a8d2e5f3b1c7a9d4e6f2b8c1a3d5"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"buttonId\": \"cancelar\",\n  \"phone\": \"{{ $('Interpretar Resposta').item.json.phone }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [6016, 10400],
      "id": "0569a9a4-81e4-4933-b354-ab4bceb9f71b",
      "name": "Cancelar no Sistema"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "msg-cancelled", "name": "message", "value": "Sua consulta foi cancelada. ❌\n\nCaso queira remarcar, é só nos avisar! 😊", "type": "string"}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [6256, 10400],
      "id": "46026341-a606-4a8f-8d0f-5e81296d68d9",
      "name": "Mensagem Cancelamento"
    },
    {
      "parameters": {
        "jsCode": "const phone = $('Interpretar Resposta').item.json.phone;\nconst message = $input.first().json.message;\nreturn [{ json: { jsonBody: { number: phone, text: message } } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [6496, 10400],
      "id": "f4134f5a-f379-4581-970e-086a8cc46c6e",
      "name": "Montar Envio Cancelamento"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.renatalyra.com.br/message/sendText/renata-lyra-oficial",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{"name": "apikey", "value": "B59826E5584E-40E3-8D26-A10CCB6E8696"}]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.jsonBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [6736, 10400],
      "id": "5db808bb-a5a3-4a11-995b-76d0a5f4920c",
      "name": "Enviar WhatsApp Cancelamento"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hmjrgrrosyinblpzntkw.supabase.co/functions/v1/create-notification",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhtanJncnJvc3lpbmJscHpudGt3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk5MzYzOTAsImV4cCI6MjA3NTUxMjM5MH0.VukfnENSS4dgv5X3_n5Qz9jFW0iZgp66AN9jkME3TvQ"},
            {"name": "Content-Type", "value": "application/json"},
            {"name": "x-api-key", "value": "a3f8c2d1e9b4071f6a2c58d3e7f1b9204c6a8d2e5f3b1c7a9d4e6f2b8c1a3d5"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"cancelamento\",\n  \"title\": \"⚠️ Cancelamento via WhatsApp\",\n  \"message\": \"{{ $('Cancelar no Sistema').item.json.patient?.full_name || 'Paciente' }} cancelou a consulta pelo WhatsApp. Entre em contato.\",\n  \"professional_id\": \"{{ $('Cancelar no Sistema').item.json.professional_id || null }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [6976, 10400],
      "id": "06b1e4f6-2141-4904-a1fd-2fff08ddb31b",
      "name": "Notificacao Urgente Cancelamento"
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://hmjrgrrosyinblpzntkw.supabase.co/functions/v1/request-reschedule",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhtanJncnJvc3lpbmJscHpudGt3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk5MzYzOTAsImV4cCI6MjA3NTUxMjM5MH0.VukfnENSS4dgv5X3_n5Qz9jFW0iZgp66AN9jkME3TvQ"},
            {"name": "Content-Type", "value": "application/json"},
            {"name": "x-api-key", "value": "a3f8c2d1e9b4071f6a2c58d3e7f1b9204c6a8d2e5f3b1c7a9d4e6f2b8c1a3d5"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"{{ $('Interpretar Resposta').item.json.phone }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [6016, 10560],
      "id": "1814300c-cba5-4024-99cd-0001228409d8",
      "name": "Remarcar no Sistema"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "msg-remarcar", "name": "message", "value": "Tudo certo! 😊\n\nSeu pedido de remarcação foi recebido. Nossa equipe entrará em contato em breve para confirmar a nova data. 📅", "type": "string"}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [6256, 10560],
      "id": "a48c9675-c39c-4548-98ad-950f9f651a16",
      "name": "Mensagem Remarcacao"
    },
    {
      "parameters": {
        "jsCode": "const phone = $('Interpretar Resposta').item.json.phone;\nconst message = $input.first().json.message;\nreturn [{ json: { jsonBody: { number: phone, text: message } } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [6496, 10560],
      "id": "d0d2e4ec-4ad9-4445-8936-8e2eb0a080c1",
      "name": "Montar Envio Remarcacao"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.renatalyra.com.br/message/sendText/renata-lyra-oficial",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{"name": "apikey", "value": "B59826E5584E-40E3-8D26-A10CCB6E8696"}]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.jsonBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [6736, 10560],
      "id": "02c7890a-3336-4d87-8609-0872a5b0ae03",
      "name": "Enviar WhatsApp Remarcacao"
    },

    {
      "parameters": {
        "method": "POST",
        "url": "https://hmjrgrrosyinblpzntkw.supabase.co/functions/v1/create-notification",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhtanJncnJvc3lpbmJscHpudGt3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTk5MzYzOTAsImV4cCI6MjA3NTUxMjM5MH0.VukfnENSS4dgv5X3_n5Qz9jFW0iZgp66AN9jkME3TvQ"},
            {"name": "Content-Type", "value": "application/json"},
            {"name": "x-api-key", "value": "a3f8c2d1e9b4071f6a2c58d3e7f1b9204c6a8d2e5f3b1c7a9d4e6f2b8c1a3d5"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"type\": \"agendamento\",\n  \"title\": \"📅 Paciente quer agendar consulta\",\n  \"message\": \"O número {{ $('Interpretar Resposta').item.json.phone }} respondeu AGENDAR pelo WhatsApp. Entre em contato para marcar a consulta.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [6016, 10720],
      "id": "32cd9bdb-ef4f-4a70-836f-c449e2c4788f",
      "name": "Notificacao Retorno"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {"id": "msg-agendar", "name": "message", "value": "Ótimo! 😊 Recebemos seu interesse em agendar.\n\nNossa equipe entrará em contato em breve para marcar o melhor horário para você. 📅\n\n❤️ Clínica Dra. Renata Lyra", "type": "string"}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [6256, 10720],
      "id": "307dd84c-f601-4947-b60b-aff0917f95df",
      "name": "Mensagem Agendar"
    },
    {
      "parameters": {
        "jsCode": "const phone = $('Interpretar Resposta').item.json.phone;\nconst message = $input.first().json.message;\nreturn [{ json: { jsonBody: { number: phone, text: message } } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [6496, 10720],
      "id": "19549072-9bac-4afc-93b1-804e62ce417d",
      "name": "Montar Envio Agendar"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.renatalyra.com.br/message/sendText/renata-lyra-oficial",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{"name": "apikey", "value": "B59826E5584E-40E3-8D26-A10CCB6E8696"}]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.jsonBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [6736, 10720],
      "id": "f0376390-146b-49c3-8156-f8befb8191d2",
      "name": "Enviar WhatsApp Agendar"
    }
  ],
  "pinData": {},
  "connections": {
    "Scheduler 15h (Confirmação Dia Anterior)": {
      "main": [[{"node": "Buscar Consultas Amanhã", "type": "main", "index": 0}]]
    },
    "Buscar Consultas Amanhã": {
      "main": [[{"node": "Preparar Items 15h", "type": "main", "index": 0}]]
    },
    "Preparar Items 15h": {
      "main": [[{"node": "Montar Mensagem Confirmação", "type": "main", "index": 0}]]
    },
    "Montar Mensagem Confirmação": {
      "main": [[{"node": "Enviar WhatsApp Confirmação", "type": "main", "index": 0}]]
    },
    "Enviar WhatsApp Confirmação": {
      "main": [[{"node": "Marcar Notificado", "type": "main", "index": 0}]]
    },
    "Scheduler 8h (Alerta Não Confirmados)": {
      "main": [[{"node": "Buscar Consultas Hoje", "type": "main", "index": 0}]]
    },
    "Buscar Consultas Hoje": {
      "main": [[{"node": "Preparar Items 8h", "type": "main", "index": 0}]]
    },
    "Preparar Items 8h": {
      "main": [[{"node": "Montar Mensagem 8h", "type": "main", "index": 0}]]
    },
    "Montar Mensagem 8h": {
      "main": [[{"node": "Enviar WhatsApp 8h", "type": "main", "index": 0}]]
    },
    "Enviar WhatsApp 8h": {
      "main": [[{"node": "Criar Alerta Não Confirmado", "type": "main", "index": 0}]]
    },
    "Webhook Resposta": {
      "main": [[{"node": "Interpretar Resposta", "type": "main", "index": 0}]]
    },
    "Interpretar Resposta": {
      "main": [[{"node": "Roteador de Acao", "type": "main", "index": 0}]]
    },
    "Roteador de Acao": {
      "main": [
        [{"node": "Confirmar no Sistema", "type": "main", "index": 0}],
        [{"node": "Cancelar no Sistema", "type": "main", "index": 0}],
        [{"node": "Remarcar no Sistema", "type": "main", "index": 0}],
        [{"node": "Notificacao Retorno", "type": "main", "index": 0}]
      ]
    },
    "Confirmar no Sistema": {
      "main": [[{"node": "Notificacao Confirmacao", "type": "main", "index": 0}]]
    },
    "Notificacao Confirmacao": {
      "main": [[{"node": "Mensagem Confirmado", "type": "main", "index": 0}]]
    },
    "Mensagem Confirmado": {
      "main": [[{"node": "Montar Envio Confirmacao", "type": "main", "index": 0}]]
    },
    "Montar Envio Confirmacao": {
      "main": [[{"node": "Enviar WhatsApp Confirmado", "type": "main", "index": 0}]]
    },
    "Cancelar no Sistema": {
      "main": [[{"node": "Mensagem Cancelamento", "type": "main", "index": 0}]]
    },
    "Mensagem Cancelamento": {
      "main": [[{"node": "Montar Envio Cancelamento", "type": "main", "index": 0}]]
    },
    "Montar Envio Cancelamento": {
      "main": [[{"node": "Enviar WhatsApp Cancelamento", "type": "main", "index": 0}]]
    },
    "Enviar WhatsApp Cancelamento": {
      "main": [[{"node": "Notificacao Urgente Cancelamento", "type": "main", "index": 0}]]
    },
    "Remarcar no Sistema": {
      "main": [[{"node": "Mensagem Remarcacao", "type": "main", "index": 0}]]
    },
    "Mensagem Remarcacao": {
      "main": [[{"node": "Montar Envio Remarcacao", "type": "main", "index": 0}]]
    },
    "Montar Envio Remarcacao": {
      "main": [[{"node": "Enviar WhatsApp Remarcacao", "type": "main", "index": 0}]]
    },
    "Notificacao Retorno": {
      "main": [[{"node": "Mensagem Agendar", "type": "main", "index": 0}]]
    },
    "Mensagem Agendar": {
      "main": [[{"node": "Montar Envio Agendar", "type": "main", "index": 0}]]
    },
    "Montar Envio Agendar": {
      "main": [[{"node": "Enviar WhatsApp Agendar", "type": "main", "index": 0}]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5c8e9abf-6f03-5c2d-bf0d-7f6556cf9f39",
  "meta": {
    "instanceId": "e2a1c105a9bbc13930729e456e86cc3af8aab9b8874a1ea477fb4daff9fa9b5e"
  },
  "id": "bot-confirmacao-v2",
  "tags": []
}
