n8n_workflows/alerta-retorno-whatsapp.json
{
  "name": "Alerta de Consulta",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconsole.log(`✅ WhatsApp enviado para ${$('Validar Dados').first().json.patientName} (${$('Validar Dados').first().json.patientPhone})`);\nreturn [{ json: { success: true, ...input } }];"
      },
      "id": "3ec39592-6aa8-4e07-80a4-83ca2c3d4acb",
      "name": "Log Sucesso",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3008, 1408]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.renatalyra.com.br/message/sendText/renata-lyra",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",       "value": "32E4894EF913-499C-BDBE-FEA9EF1A644A" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "number", "value": "={{ $json.patientPhone }}" },
            { "name": "text",   "value": "={{ $json.message }}" }
          ]
        },
        "options": { "timeout": 10000 }
      },
      "id": "c3da33dd-0a77-4175-a8fa-3a47808f1096",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2576, 1504],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// O body chega como string JSON (Content-Type: text/plain via no-cors)\nconst raw = $input.first().json;\nlet data;\nif (typeof raw.body === 'string') {\n  data = JSON.parse(raw.body);\n} else if (typeof raw.body === 'object' && raw.body !== null) {\n  data = raw.body;\n} else {\n  data = raw;\n}\n\nconst patientName = data.patientName || '';\nconst patientPhone = data.patientPhone || '';\nconst message = data.message || '';\nconst returnDate = data.returnDate || '';\nconst notes = data.notes || '';\n\nif (!patientPhone || !message) {\n  throw new Error(`Dados incompletos: phone=${patientPhone}, message=${message}`);\n}\n\nlet phone = patientPhone.replace(/\\D/g, '');\n\n// Até 11 dígitos → sem DDI → assume Brasil (+55)\n// 12+ dígitos → DDI já incluído (ex: 351 Portugal, 1 EUA)\nif (phone.length <= 11) {\n  phone = '55' + phone;\n}\n\nif (phone.length < 10) {\n  throw new Error(`Número inválido (${phone.length} dígitos): ${phone}.`);\n}\n\nreturn [{\n  json: { patientName, patientPhone: phone, message, returnDate, notes }\n}];"
      },
      "id": "9d2f437c-8277-46a0-bf9f-c42171d86086",
      "name": "Validar Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2336, 1488]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true }",
        "options": { "responseCode": 200 }
      },
      "id": "d2d87a37-b7f2-416c-8cde-4653c0865afb",
      "name": "Responder 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2336, 1280]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "alerta-retorno",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "792de9d0-f0c4-4078-a5d5-6a6a07afe003",
      "name": "Webhook - Receber Alerta",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [2128, 1392],
      "webhookId": "alerta-retorno"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hmjrgrrosyinblpzntkw.supabase.co/functions/v1/create-notification",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "type",    "value": "erro_whatsapp" },
            { "name": "title",   "value": "Falha no envio de WhatsApp" },
            { "name": "message", "value": "=Não foi possível enviar alerta de retorno para {{ $('Validar Dados').first().json.patientName }} ({{ $('Validar Dados').first().json.patientPhone }}). Erro: {{ $json.error.message }}" }
          ]
        },
        "options": {}
      },
      "id": "2d966792-408c-44f5-8cb8-7ffbc3f5fe32",
      "name": "Notificar Erro no Sistema",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2784, 1632]
    }
  ],
  "pinData": {},
  "connections": {
    "Enviar WhatsApp": {
      "main": [
        [
          { "node": "Log Sucesso",              "type": "main", "index": 0 }
        ],
        [
          { "node": "Notificar Erro no Sistema", "type": "main", "index": 0 }
        ]
      ]
    },
    "Validar Dados": {
      "main": [
        [
          { "node": "Enviar WhatsApp", "type": "main", "index": 0 }
        ]
      ]
    },
    "Webhook - Receber Alerta": {
      "main": [
        [
          { "node": "Validar Dados",    "type": "main", "index": 0 },
          { "node": "Responder 200 OK", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b0572c5a-f4a2-44dd-813b-96f6e13e0fb3",
  "meta": {
    "instanceId": "8fc96216b55d8509079c818d5243cb874ec34786f2c6ffb51935ad321aa2c130"
  },
  "id": "Z6AO13CP4PZaf8Nl",
  "tags": []
}
