n8n_workflows/alerta-retorno-whatsapp.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconsole.log(`✅ WhatsApp enviado para ${$('Validar Dados').first().json.patientName} (${$('Validar Dados').first().json.patientPhone})`);\nreturn [{ json: { success: true, ...input } }];"
      },
      "id": "717f4d38-96d5-4529-8796-5106db486023",
      "name": "Log Sucesso",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2736, 1248]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://evolution:8080/message/sendText/renata-lyra",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "32E4894EF913-499C-BDBE-FEA9EF1A644A" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "number", "value": "={{ $json.patientPhone }}" },
            { "name": "text",   "value": "={{ $json.message }}" }
          ]
        },
        "options": {
          "timeout": 10000
        },
        "onError": "continueErrorOutput"
      },
      "id": "35a9c691-eb11-4456-b665-7836e1fc7ff7",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2288, 1328]
    },
    {
      "parameters": {
        "jsCode": "// O body chega como string JSON (Content-Type: text/plain via no-cors)\nconst raw = $input.first().json;\nlet data;\nif (typeof raw.body === 'string') {\n  data = JSON.parse(raw.body);\n} else if (typeof raw.body === 'object' && raw.body !== null) {\n  data = raw.body;\n} else {\n  data = raw;\n}\n\nconst patientName = data.patientName || '';\nconst patientPhone = data.patientPhone || '';\nconst message = data.message || '';\nconst returnDate = data.returnDate || '';\nconst notes = data.notes || '';\n\nif (!patientPhone || !message) {\n  throw new Error(`Dados incompletos: phone=${patientPhone}, message=${message}`);\n}\n\nlet phone = patientPhone.replace(/\\D/g, '');\nif (!phone.startsWith('55')) {\n  phone = '55' + phone;\n}\n\nreturn [{\n  json: { patientName, patientPhone: phone, message, returnDate, notes }\n}];"
      },
      "id": "95e25016-cdb6-4650-9495-8b83396a3b72",
      "name": "Validar Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2064, 1328]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true }",
        "options": { "responseCode": 200 }
      },
      "id": "17128c92-28a7-4b52-b598-1b6f2cd6fc5f",
      "name": "Responder 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2064, 1120]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "alerta-retorno",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "7c1789c9-1360-48a6-9bbd-969368046bd5",
      "name": "Webhook - Receber Alerta",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [1856, 1232],
      "webhookId": "alerta-retorno"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hmjrgrrosyinblpzntkw.supabase.co/functions/v1/create-notification",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "type",    "value": "erro_whatsapp" },
            { "name": "title",   "value": "Falha no envio de WhatsApp" },
            { "name": "message", "value": "=Não foi possível enviar alerta de retorno para {{ $('Validar Dados').first().json.patientName }} ({{ $('Validar Dados').first().json.patientPhone }}). Erro: {{ $json.error.message }}" }
          ]
        },
        "options": {}
      },
      "id": "e22a81f7-3dd4-40cd-a367-cb776fd7446b",
      "name": "Notificar Erro no Sistema",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2512, 1472]
    }
  ],
  "pinData": {},
  "connections": {
    "Enviar WhatsApp": {
      "main": [
        [
          { "node": "Log Sucesso",              "type": "main", "index": 0 }
        ],
        [
          { "node": "Notificar Erro no Sistema", "type": "main", "index": 0 }
        ]
      ]
    },
    "Validar Dados": {
      "main": [[{ "node": "Enviar WhatsApp", "type": "main", "index": 0 }]]
    },
    "Webhook - Receber Alerta": {
      "main": [[
        { "node": "Validar Dados",    "type": "main", "index": 0 },
        { "node": "Responder 200 OK", "type": "main", "index": 0 }
      ]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "45103618-5ce6-4b6e-8d89-9aba6fda89fc",
  "meta": {
    "instanceId": "8fc96216b55d8509079c818d5243cb874ec34786f2c6ffb51935ad321aa2c130"
  },
  "id": "Z6AO13CP4PZaf8Nl",
  "tags": []
}
