n8n_workflows/bot_anamnese.json
{
  "name": "bot_anamnese",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "send-anamnese",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-720, 80],
      "id": "c51cdd35-13ae-4451-a1a6-7bbe0a6bbd63",
      "name": "Webhook",
      "webhookId": "anamnese-send-link"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\nconst patientName  = body.patientName  || 'Paciente';\nconst patientPhone = body.patientPhone || '';\nconst link         = body.link         || '';\nconst code         = body.code         || '';\n\nif (!patientPhone) {\n  return [{ json: { skip: true, reason: 'Telefone não cadastrado' } }];\n}\n\n// Normaliza: só dígitos\nlet phone = patientPhone.replace(/\\D/g, '');\n\n// Até 11 dígitos -> sem DDI -> assume Brasil (+55)\n// 12+ dígitos -> DDI já incluído (ex: 351 Portugal, 1 EUA)\nif (phone.length <= 11) {\n  phone = '55' + phone;\n}\n\nif (phone.length < 10) {\n  return [{ json: { skip: true, reason: `Número inválido (${phone.length} dígitos): ${phone}` } }];\n}\n\nconst message =\n  `🦷 Olá, ${patientName}!\\n\\n` +\n  `A clínica solicitou o preenchimento da sua ficha de anamnese.\\n\\n` +\n  `📋 Acesse o formulário pelo link abaixo:\\n${link}\\n\\n` +\n  `🔑 Código de verificação (6 dígitos): *${code}*\\n\\n` +\n  `O link é válido por 7 dias. Em caso de dúvidas, entre em contato conosco.`;\n\nreturn [{ json: { phone, message, patientName } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-480, 80],
      "id": "42d16f2f-d125-401c-8d3b-863f71db6a33",
      "name": "Formatar Mensagem"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-240, 80],
      "id": "3509c1f1-5401-4e5b-a194-1862cc620588",
      "name": "Tem Telefone?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.renatalyra.com.br/message/sendText/renata-lyra",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "apikey",       "value": "32E4894EF913-499C-BDBE-FEA9EF1A644A" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "number", "value": "={{ $('Formatar Mensagem').item.json.phone }}" },
            { "name": "text",   "value": "={{ $('Formatar Mensagem').item.json.message }}" }
          ]
        },
        "options": { "timeout": 10000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 0],
      "id": "82bdf638-a658-4596-b1ea-e2c519791f1a",
      "name": "Enviar WhatsApp (Baileys)",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, phone: $('Formatar Mensagem').item.json.phone }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [240, 0],
      "id": "723315be-acf3-432e-ae95-b1639b68bae7",
      "name": "Resposta OK"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hmjrgrrosyinblpzntkw.supabase.co/functions/v1/create-notification",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "type",    "value": "erro_whatsapp" },
            { "name": "title",   "value": "Anamnese não enviada — telefone inválido" },
            { "name": "message", "value": "=Não foi possível enviar a anamnese para {{ $('Formatar Mensagem').item.json.patientName ?? 'paciente' }}: {{ $('Formatar Mensagem').item.json.reason ?? 'telefone não cadastrado ou inválido' }}. Atualize o cadastro do paciente." }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 208],
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Notificar Telefone Inválido"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, reason: $('Formatar Mensagem').item.json.reason ?? 'Telefone não cadastrado ou inválido' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [240, 208],
      "id": "8c62ba76-3a36-49fd-a3f3-5c9ce29b73c9",
      "name": "Resposta Sem Telefone"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hmjrgrrosyinblpzntkw.supabase.co/functions/v1/create-notification",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "type",    "value": "erro_whatsapp" },
            { "name": "title",   "value": "Falha no envio de WhatsApp" },
            { "name": "message", "value": "=Não foi possível enviar a anamnese para {{ $('Formatar Mensagem').item.json.patientName }} ({{ $('Formatar Mensagem').item.json.phone }}). Erro: {{ $json.error?.message ?? 'desconhecido' }}" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 160],
      "id": "f1a2b3c4-d5e6-7890-abcd-ef1234567890",
      "name": "Notificar Erro no Sistema"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, error: 'Falha ao enviar WhatsApp' }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [480, 160],
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567891",
      "name": "Resposta Erro WhatsApp"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Formatar Mensagem", "type": "main", "index": 0 }]
      ]
    },
    "Formatar Mensagem": {
      "main": [
        [{ "node": "Tem Telefone?", "type": "main", "index": 0 }]
      ]
    },
    "Tem Telefone?": {
      "main": [
        [{ "node": "Enviar WhatsApp (Baileys)",   "type": "main", "index": 0 }],
        [{ "node": "Notificar Telefone Inválido", "type": "main", "index": 0 }]
      ]
    },
    "Notificar Telefone Inválido": {
      "main": [
        [{ "node": "Resposta Sem Telefone", "type": "main", "index": 0 }]
      ]
    },
    "Enviar WhatsApp (Baileys)": {
      "main": [
        [{ "node": "Resposta OK",              "type": "main", "index": 0 }],
        [{ "node": "Notificar Erro no Sistema", "type": "main", "index": 0 }]
      ]
    },
    "Notificar Erro no Sistema": {
      "main": [
        [{ "node": "Resposta Erro WhatsApp", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3c143ced-2770-45a7-83b1-3d09ba878fee",
  "meta": {
    "instanceId": "8fc96216b55d8509079c818d5243cb874ec34786f2c6ffb51935ad321aa2c130"
  },
  "id": "LUJzYk6WD9WV3IyT",
  "tags": []
}
