n8n_workflows/bot_cancelamento.json
{
  "name": "WhatsApp Cancelamento",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cancelar-consulta",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-720, 80],
      "id": "a1b2c3d4-e5f6-7890-abcd-001122334455",
      "name": "Webhook",
      "webhookId": "cancelar-consulta"
    },
    {
      "parameters": {
        "jsCode": "// Body pode chegar como string (no-cors) ou objeto JSON\nconst raw = $input.first().json;\nlet data;\nif (typeof raw.body === 'string') {\n  try { data = JSON.parse(raw.body); } catch { data = raw; }\n} else if (typeof raw.body === 'object' && raw.body !== null) {\n  data = raw.body;\n} else {\n  data = raw;\n}\n\nconst patientName    = data.patientName    || 'Paciente';\nconst patientPhone   = data.phone          || '';\nconst message        = data.message        || '';\nconst appointmentDate = data.appointmentDate || '';\nconst appointmentTime = data.appointmentTime || '';\n\nif (!patientPhone) {\n  return [{ json: { skip: true, reason: 'Telefone não cadastrado', patientName } }];\n}\n\nif (!message) {\n  return [{ json: { skip: true, reason: 'Mensagem vazia', patientName } }];\n}\n\n// Normaliza: só dígitos\nlet phone = patientPhone.replace(/\\D/g, '');\n\n// Até 11 dígitos -> sem DDI -> assume Brasil (+55)\n// 12+ dígitos -> DDI já incluído (ex: 351 Portugal, 1 EUA)\nif (phone.length <= 11) {\n  phone = '55' + phone;\n}\n\nif (phone.length < 10) {\n  return [{ json: { skip: true, reason: `Número inválido (${phone.length} dígitos): ${phone}`, patientName } }];\n}\n\nreturn [{ json: { phone, message, patientName, appointmentDate, appointmentTime } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-480, 80],
      "id": "b2c3d4e5-f6a7-8901-bcde-001122334455",
      "name": "Formatar Dados"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-240, 80],
      "id": "c3d4e5f6-a7b8-9012-cdef-001122334455",
      "name": "Tem Telefone?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.renatalyra.com.br/message/sendText/renata-lyra",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",       "value": "32E4894EF913-499C-BDBE-FEA9EF1A644A" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "number", "value": "={{ $json.phone }}" },
            { "name": "text",   "value": "={{ $json.message }}" }
          ]
        },
        "options": { "timeout": 10000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 0],
      "id": "d4e5f6a7-b8c9-0123-defa-001122334455",
      "name": "Enviar WhatsApp",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "console.log(`✅ Cancelamento enviado para ${$('Formatar Dados').first().json.patientName} (${$('Formatar Dados').first().json.phone})`);\nreturn [{ json: { success: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 0],
      "id": "e5f6a7b8-c9d0-1234-efab-001122334455",
      "name": "Log Sucesso"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hmjrgrrosyinblpzntkw.supabase.co/functions/v1/create-notification",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "type",    "value": "erro_whatsapp" },
            { "name": "title",   "value": "Falha ao notificar cancelamento" },
            { "name": "message", "value": "=Não foi possível enviar a mensagem de cancelamento para {{ $('Formatar Dados').first().json.patientName }} ({{ $('Formatar Dados').first().json.phone }}). Erro: {{ $json.error?.message ?? 'desconhecido' }}" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 160],
      "id": "f6a7b8c9-d0e1-2345-fabc-001122334455",
      "name": "Notificar Erro Envio"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hmjrgrrosyinblpzntkw.supabase.co/functions/v1/create-notification",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "type",    "value": "erro_whatsapp" },
            { "name": "title",   "value": "Cancelamento não notificado — telefone inválido" },
            { "name": "message", "value": "=Não foi possível notificar o cancelamento para {{ $('Formatar Dados').first().json.patientName }}: {{ $('Formatar Dados').first().json.reason ?? 'telefone não cadastrado ou inválido' }}. Atualize o cadastro do paciente." }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 208],
      "id": "a7b8c9d0-e1f2-3456-abcd-001122334455",
      "name": "Notificar Telefone Inválido"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Formatar Dados", "type": "main", "index": 0 }]
      ]
    },
    "Formatar Dados": {
      "main": [
        [{ "node": "Tem Telefone?", "type": "main", "index": 0 }]
      ]
    },
    "Tem Telefone?": {
      "main": [
        [{ "node": "Enviar WhatsApp",           "type": "main", "index": 0 }],
        [{ "node": "Notificar Telefone Inválido", "type": "main", "index": 0 }]
      ]
    },
    "Enviar WhatsApp": {
      "main": [
        [{ "node": "Log Sucesso",       "type": "main", "index": 0 }],
        [{ "node": "Notificar Erro Envio", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "00000000-0000-0000-0000-001122334455",
  "meta": {
    "instanceId": "8fc96216b55d8509079c818d5243cb874ec34786f2c6ffb51935ad321aa2c130"
  },
  "id": "CancelamentoWhatsApp01",
  "tags": []
}
