n8n_workflows/bot_feedback.json
{
  "name": "WhatsApp Feedback",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "enviar-feedback",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [-720, 80],
      "id": "f837529d-607e-4800-8c06-3ab1e2aef756",
      "name": "Webhook",
      "webhookId": "58aab08e-263e-418c-9013-5743906af4df"
    },
    {
      "parameters": {
        "jsCode": "// Body pode chegar como string (no-cors) ou objeto JSON\nconst raw = $input.first().json;\nlet data;\nif (typeof raw.body === 'string') {\n  try { data = JSON.parse(raw.body); } catch { data = raw; }\n} else if (typeof raw.body === 'object' && raw.body !== null) {\n  data = raw.body;\n} else {\n  data = raw;\n}\n\nconst patientName  = data.patientName  || 'Paciente';\nconst patientPhone = data.phone        || '';\nconst feedbackLink = data.feedbackLink || '';\nconst message      = data.message      || '';\n\nif (!patientPhone) {\n  return [{ json: { skip: true, reason: 'Telefone não cadastrado', patientName } }];\n}\n\n// Normaliza: só dígitos\nlet phone = patientPhone.replace(/\\D/g, '');\n\n// Até 11 dígitos -> sem DDI -> assume Brasil (+55)\n// 12+ dígitos -> DDI já incluído (ex: 351 Portugal, 1 EUA)\nif (phone.length <= 11) {\n  phone = '55' + phone;\n}\n\nif (phone.length < 10) {\n  return [{ json: { skip: true, reason: `Número inválido (${phone.length} dígitos): ${phone}`, patientName } }];\n}\n\n// Usa mensagem pré-formatada vinda do sistema, ou monta fallback\nconst text = message ||\n  `Olá, ${patientName}! 😊\\n\\n` +\n  `Obrigada por comparecer à sua consulta!\\n\\n` +\n  `Gostaríamos muito de saber sua opinião. Sua avaliação nos ajuda a melhorar cada vez mais.\\n\\n` +\n  `⭐ Avalie agora: ${feedbackLink}`;\n\nreturn [{ json: { phone, text, patientName } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-480, 80],
      "id": "ef99fbda-4034-4320-b21d-3cee290fb521",
      "name": "Formatar Dados"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-skip",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-240, 80],
      "id": "859df216-5573-4e63-acb3-b4ca564ec59a",
      "name": "Tem Telefone?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://evolution.renatalyra.com.br/message/sendText/renata-lyra",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",       "value": "32E4894EF913-499C-BDBE-FEA9EF1A644A" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "number", "value": "={{ $json.phone }}" },
            { "name": "text",   "value": "={{ $json.text }}" }
          ]
        },
        "options": { "timeout": 10000 }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 0],
      "id": "6e118289-8cc6-42aa-893d-e724568af60a",
      "name": "Enviar WhatsApp",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "console.log(`✅ Feedback enviado para ${$('Formatar Dados').first().json.patientName} (${$('Formatar Dados').first().json.phone})`);\nreturn [{ json: { success: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 0],
      "id": "3a4b5c6d-7e8f-9012-abcd-ef1234567890",
      "name": "Log Sucesso"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hmjrgrrosyinblpzntkw.supabase.co/functions/v1/create-notification",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "type",    "value": "erro_whatsapp" },
            { "name": "title",   "value": "Falha no envio de feedback" },
            { "name": "message", "value": "=Não foi possível enviar o link de avaliação para {{ $('Formatar Dados').first().json.patientName }} ({{ $('Formatar Dados').first().json.phone }}). Erro: {{ $json.error?.message ?? 'desconhecido' }}" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 160],
      "id": "a1b2c3d4-e5f6-7890-abcd-111111111111",
      "name": "Notificar Erro Envio"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hmjrgrrosyinblpzntkw.supabase.co/functions/v1/create-notification",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "type",    "value": "erro_whatsapp" },
            { "name": "title",   "value": "Feedback não enviado — telefone inválido" },
            { "name": "message", "value": "=Não foi possível enviar o link de avaliação para {{ $('Formatar Dados').first().json.patientName }}: {{ $('Formatar Dados').first().json.reason ?? 'telefone não cadastrado ou inválido' }}. Atualize o cadastro do paciente." }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [0, 208],
      "id": "b2c3d4e5-f6a7-8901-bcde-222222222222",
      "name": "Notificar Telefone Inválido"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Formatar Dados", "type": "main", "index": 0 }]
      ]
    },
    "Formatar Dados": {
      "main": [
        [{ "node": "Tem Telefone?", "type": "main", "index": 0 }]
      ]
    },
    "Tem Telefone?": {
      "main": [
        [{ "node": "Enviar WhatsApp",          "type": "main", "index": 0 }],
        [{ "node": "Notificar Telefone Inválido", "type": "main", "index": 0 }]
      ]
    },
    "Enviar WhatsApp": {
      "main": [
        [{ "node": "Log Sucesso",        "type": "main", "index": 0 }],
        [{ "node": "Notificar Erro Envio", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "59d9b592-301e-4f8e-b781-bf0686d56c33",
  "meta": {
    "instanceId": "8fc96216b55d8509079c818d5243cb874ec34786f2c6ffb51935ad321aa2c130"
  },
  "id": "Zpx2iJMiZ8KZoyug",
  "tags": []
}
